.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/*Que dios se apiade de mi alma*/
*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1
{
  color: white;
  font-size: 25px;
  text-align: center;
  background-color: rgb(31, 31, 31);
  padding: 55px 0px;
}
.btn-agregar
{
  color: rgb(255, 255, 255);
  background-color: rgb(31, 31, 31);
  border: none;
  border-radius: 3px;
  padding: 5px;
  margin-left: 10px;
  cursor: pointer;
  transition: all ease 0.3s;
}
.btn-agregar:hover
{
  background-color: rgba(31, 31, 31, 0.8);
}